.mainNav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top:0;
    z-index: 10000;
    outline: 1px solid lightgray;
    box-shadow: 1px 1px 3px lightgray;
    background-color: white;
}
.logo {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo p {
    font-size: 30px;
    font-weight: 900;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo:hover {
    cursor: pointer;
}
.mainNav ul li p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.mainNav ul li{
    display: flex;
    justify-content: center;
    transition: 1s;
    align-items: center;
}
.mainNav ul li:hover{
    color: red;
}
.mainNav ul li a,.mainNav ol li{
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.mainNav ul li a{
    font-size: 18px;
    font-weight: 500;
}
.mainNav ul li a:hover,.mainNav ol li:hover{
    color: red;
}
.cart{
    position: relative;
}
.itemNum{
    background-color: red;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right:-5px;
    z-index: 999999;
}
.itemNum p{
    color: white;
    font-size: 11px;
}
a{
    text-decoration: none;
    color: black;
}
.active{
    color: red !important;
}
.dropdownMenu{
    position: absolute;
    top: 60px;
    left: 0px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    outline: 0.5px solid lightgray;
    background-color: white;
    transition: all linear 0.3s;
    z-index: 99999999;
  }
  .dropdownMenu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  .dropdownMenu ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
 .elbigMenu{
    width: 100%;
    height: 100px;
    position: absolute;

    left: 0;
    background-color: white;
    outline: 0.5px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 9999;
 }
 .elbigMenu ol{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
 }
 .elbigMenu ol li {
    /* background-color: red; */
 }
